<!DOCTYPE html>
<html>
<head>
  <title>Mobile</title>
  <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/jqt/theme.css" %>
  <%= javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "mobile" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="home">

    <div class="toolbar">
      <h1>t0d0odles</h1>
      <%= link_to "Back", root_path, :class => "back", :rel => "external" unless current_page? root_path %>
      <%= link_to "+", "/todos/new", :class => "add slideup", :rel => "external" if current_page? root_path %>
    </div>
    
    <%= yield %>

  </div>

</body>
</html>
