<!DOCTYPE html>
<html>
<head>
  <title>Mobile</title>
  <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/jqt/theme.css" %>
  <%= javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "mobile" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="current">

    <div class="toolbar">
      <h1>T0d0odles</h1>
      <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>
      <%= link_to "+", nil, :class => "add" %>
    </div>
    
    <%= yield %>

  </div>

</body>
</html>
